BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  AfterClass: false
  AfterControlStatement: Always
  AfterEnum: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: false
SpaceBeforeParens: Never
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: c++20
ColumnLimit: 100

